<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="./stylesheets/homepage.css">
</head>
<body>
<main>
    <section class="section-container">
        <h2 class="section-title">OSCAR'S WINNER</h2>
        <div class="slider-container">
            <div class="oscar-movie-slider">
                {{#each oscarsWinners}}
                    <div class="card-container">
                        <div class = "card">
                        <div class="poster">
                            <img src="{{this.poster}}" alt="{{this.title}} poster">
                        </div>
                        <div class="info">
                            <h3 class="film-title">{{this.title}}</h3>
                            <p class="film-description">{{this.description}}</p>
                            <p class="oscar">{{this.oscarWon}}</p>
                        </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="slider-nav oscar-nav">
                <div class="prev-arrow">❮</div>
                <div class="next-arrow">❯</div>
            </div>
        </div>
    </section>

    <section class="section-container">
        <h2 class="section-title">LATEST MOVIES</h2>
        <div class="slider-container">
            <div class="latest-movie-slider">
                {{#each latestMovies}}
                <div class="card-container">
                    <div class="card" >
                        <div class="poster">
                            <img src="{{this.poster}}" alt="{{this.title}} poster">
                        </div>
                        <div class="info">
                            <h3 class="film-title">{{this.title}}</h3>
                            <p class="film-description">{{this.description}}</p>
                            <p class="data-uscita">{{this.releaseDate}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="slider-nav latest-nav">
                <div class="prev-arrow">❮</div>
                <div class="next-arrow">❯</div>
            </div>
        </div>
    </section>

    <section class="section-container">
        <h2 class="section-title">TOP RATED MOVIES</h2>
        <div class="slider-container">
            <div class="top-movie-slider">
                {{#each topRatedMovies}}
                <div class="card-container">
                    <div class="card" url="">
                        <div class="poster">
                            <img src="{{this.poster}}" alt="{{this.title}} poster">
                        </div>
                        <div class="info">
                            <h3 class="film-title">{{this.title}}</h3>
                            <p class="film-description">{{this.description}}</p>
                            <p class="valutazione">{{this.rating}}/10</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="slider-nav top-nav">
                <div class="prev-arrow">❮</div>
                <div class="next-arrow">❯</div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--usato per il carosello -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="./javascripts/index.js"></script>
</body>
</html>